sync.antonyartsev.com {
    reverse_proxy /api/* localhost:5001
    reverse_proxy /ws/* localhost:5001 {
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-For {remote}
        header_up X-Forwarded-Proto {scheme}
    }
    reverse_proxy localhost:5025
}

http://sync.antonyartsev.com {
    redir https://{host}{uri} permanent
} 